<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>GAMeRdb - Home </title>
        <meta name="description" content="GAMeR genomic database - Salmonella genomes"/>
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico" />
        <!-- Common CSS -->
        <link rel="stylesheet" type="text/css" href="../../css/gamer.common.css"/>
        <!-- Semantic UI CSS -->
        <link rel="stylesheet" type="text/css" href="../../../semantic/dist/semantic.min.css"/>
        <!-- JQuery JS -->
        <script src="../../js/jquery.min.js"></script>
        <!-- SemanticUI JS -->
        <script src="../../../semantic/dist/semantic.min.js"></script>
        <!-- Highcharts JS -->
        <script src="../../js/highcharts.js"></script><!-- base -->
        <script src="../../js/drilldown.js"></script><!-- chart browsing levels -->
        <!-- Underscore JS -->
        <script src="../../js/underscore-min.js"></script><!-- JSON requests algorithms client side -->
        <!-- common JS -->
        <script type="text/javascript" charset="utf8" src="../../js/gamer.common.js" defer></script> <!-- used in almost every page of this website -->
    </head>
    <body>
        <!-- main wrapper "bloc_page". Englobe tout le site pour la mise en page globale-->
        <div id="bloc_page">
            <header>
                <%include ./../interface/views/includes/header.html%></%include>
            </header>        
            <div class="ui stackable grid" id="aftertopmenu"> <!--grid principal (grids de grids) -->
                <!--GRID du de gauche-->
                <div class="two wide column" id= "rightmenu">
                    <!-- pas de menu dans page d'accueuil : fill white pour eviter probleme d'affichage--> <!-- fill white enleve : fix suite a derniere maj (celui du grid de droite suffit)-->
                </div>
                <!--GRID du milieu-->
                <div class="twelve wide column" id="centermenu">
                    <div class="ui one column stackable grid">
                        <div class="justified row">
                            <div class="column">
                                <br/>
                                <img class="ui centered original image" src="../../img/gamergenomicdblogo.png"/>
                                <div class="ui info large justifed message">
                                    <div class="messageinfo">
                                        <h1 class="ui medium header">Welcome to the GAMeRdb genomic interface database</h1>
                                    </div>
                                    <br/>
                                    This website is currently a opened beta.  In the final version, you'll find any information about all genomes saved in the GAMeRdb database, and you'll be able to screen the database by running some tools to making fast bioinformatics analyses as Blast and phylogenies (k-mers based)
                                    The following pages are currently available:
                                    <ul class="list">
                                        <br/>
                                        <li>
                                            "Genomes Workspace" pages (Clostridium,Listeria,Salmonella,Staphylococcus): In these pages, you'll find any information whe have about all genomes processed by ARTwork and saved in the GAMeRdb database
                                        </li>
                                        <li>
                                            "Genomes Workspaces" tutorial: a quick interactive guide showing how to fully exploit functionalities included in the genomes workspaces pages
                                        </li>
                                        <li>
                                            Homepage: A quick resume of the GAMeRdb database statistics (Species/CC/ST/Serovar distribution) , newsfeeds, and more.
                                        </li>
                                        <br/>
                                    </ul>
                                    <p>You can access to the tutorials and some external links on each footer of the website. Please contact us for any suggestion or bug report.</p>
                                </div>
                            </div>
                        </div> 
                        <div class="two column row">               
                            <div class="seven wide column">
                                <div class="ui large yellow message">
                                    <h3 class="ui massive header">What's new?</h3>
                                    <div class="ui fluid accordion">
                                        <!-- add the latest news HERE -->
                                        <%include ./../interface/views/includes/news_latest.html%></%include>
                                        <!-- add old news HERE -->
                                        <%include ./../interface/views/includes/news_old.html%></%include>
                                    </div>
                                </div>
                            </div>              
                            <div class="nine wide column">
                                <div class="ui large message">
                                    <h2 class="ui medium header">GAMeRdb statistics (n=<%JSONlen%></%JSONlen%>strains)</h2>
                                    <span class="reallytiny">Click on the species to see more information about their taxonomy (CC, ST, serovar distribution)</span>
                                    <br/>
                                    <div id="HighchartsContainer" style="min-width: 410px; max-width: 1000px; max-height: 800px; margin: 0 auto"></div>
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
                <!--GRID de droite-->
                <div class="two wide column" id= "rightmenu">
                    <!-- pas de menu dans page d'accueuil : fill white pour eviter probleme d'affichage-->
                </div>
            </div>
            <!-- ex classe sticky-->
            <footer>
                <%include ./../interface/views/includes/footer.html%></%include>
            </footer>       
        </div>
    </body>
    <script>
        // ------------ Retrieve GAMeRdb info in JSON files ------------ //
        var JSONlength = <%JSONlen%> // GAMeRdb length (number of entries)
        var JSONstring = <%fullJSON%> // GAMeRdb content
        // these JSON are used gamer.home.js script
    </script>
    <script src="../../js/gamer.home.js" defer></script><!-- very last script to load -->
</html>