<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GAMeRdb - Genomes </title>
        <meta name="description" content="GAMeR genomic database - Salmonella genomes">
        <!--
        Favicon, CSS et Javascript généré par Semantic UI après compilation code LESS
        -->
        <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico" />
        <link rel="stylesheet" href="../../../semantic/dist/semantic.min.css">
        <script src="../../../semantic/dist/semantic.min.js"></script>
        <!-- A debugger
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript">
            $('.message.close').on('click',function()
            {
                $(this).closest('.message').fadeOut();
            });
        </script>
        -->
    </head>
    <body>
    <h1>500 : Accès interdit / Internal Server Error </h1>
    </body>
</html>
