<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>GAMeRdb - Genomes </title>
        <meta name="description" content="GAMeR genomic database - Salmonella genomes"/>
        <link rel="shortcut icon" type="image/x-icon" href="../../../img/favicon.ico" />
        <!-- SEMANTIC UI main styles-->
        <link rel="stylesheet" type="text/css" href="../../../../semantic/dist/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../semantic/dist/components/icon.min.css"/>
        <link rel="alternate" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/icon.min.css"/> <!--Use CDN in case of icons issues-->
        <!--DataTables css-->
        <link rel="stylesheet" type="text/css" href="../../../css/gamer.effects.datatables.css"/> <!--DataTables custom CSS overrides-->    
        <link rel="stylesheet" type="text/css" href="../../../css/dataTables.semanticui.min.css"/> <!--SemanticUI integration for DataTables-->
        <link rel="stylesheet" type="text/css" href="../../../css/select.dataTables.min.css"> <!--SemanticUI styling for DataTables selected rows -->
        <link rel="stylesheet" type="text/css" href="../../../css/buttons.semanticui.min.css"/> <!--SemanticUI styling for DataTables buttons-->       
        <!--jQuery JS-->
        <script src="../../../../js/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="../../../js/jquery-1.12.4.js"></script><!--jQuery version adapted to DataTables-->
        <!-- SEMANTIC UI main JS-->
        <script src="../../../../semantic/dist/semantic.min.js"></script>
        <!--DataTables JS-->
        <script type="text/javascript" charset="utf8" src="../../../js/gamer.effects.js" defer></script><!--Setting Semantic UI custom JS effects settings + DataTables settings-->
        <script type="text/javascript" charset="utf8" src="../../../js/jquery.dataTables.min.js"></script><!--Main jQuery for Datatables-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.semanticui.min.js"></script><!--SemanticUI integration for DataTables-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.select.min.js"></script><!--SemanticUI integration for DataTables selected rows-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.buttons.min.js"></script><!--SemanticUI integration for DataTables selected buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.semanticui.min.js"></script><!--SemanticUI integration for DataTables buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/jszip.min.js"></script><!--JS class for generating or read zip files-->
        <script type="text/javascript" charset="utf8" src="../../../js/pdfmake.min.js"></script><!--JS class for generating pdf files-->
        <script type="text/javascript" charset="utf8" src="../../../js/vfs_fonts.js"></script><!--PdfMake dependency for generating pdf files-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.html5.min.js" defer></script><!--JS class for generating Datatables buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.print.min.js" defer></script><!--JS class for copying/priting the DataTable-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.colVis.min.js"></script><!--JS class for handling DataTables columns visibility-->
    </head>
    <body>    
        <div id="bloc_page"><!-- main wrapper-->
            <header>
                <%include ./../interface/views/includes/header_salmo.html%>
            </header>        
            <div class="ui longer modal scrolling vontent transition">
                <div class="twelve wide column" id="centermenu">
                    <br/>
                    <h1 class="ui massive centered header">Genomes page tutorial</h1>
                    <div class="ui one column stackable grid">
                        <div class="justified row">
                            <div class="column">
                            <br/>
                            <div class="ui info large message">
                                <i class="close icon"></i>
                                <div class="messageinfo">
                                    <h1 class="ui medium header">Welcome to the GAMeRdb genomic interface database</h1>
                                </div>
                                Explications sur le fonctionnement du site, des fonctionnalitées intégrées et à venir. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Fonctionnalités suivantes :
                                <ul class="list">
                                    <li>Lorem ipsum is life</li>
                                    <li>Blabla et surtout blabla</li>
                                </ul>
                                <p>
                                    Explications sur le fonctionnement du site, des fonctionnalitées intégrées et à venir. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                                </div>
                            </div>
                        </div> 
                        <div class="two column row">               
                            <div class=" column">
                                <div class="ui large message">
                                    <h2 class="ui medium header">Newsfeed</h2>
                                    <ul class="list">
                                        <li><b>MM-DD-YYYY</b> new feature added, <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new feature added, <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new version of the website (X.X beta), <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new version of the website (X.X beta), <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> welcome to the first version of GAMeR's genomic database interface! <a href="#">see more...</a></li>
                                    </ul>
                                </div>
                            </div>              
                            <div class="column">
                                <div class="ui large message">
                                    <h2 class="ui medium header">Database statistics</h2>
                                    <br/>
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
                <div class="twelve wide column" id="centermenu">
                    <div class="ui one column stackable grid">
                        <div class="justified row">
                            <div class="column">
                            <br/>
                            <div class="ui info large message">
                                <i class="close icon"></i>
                                <div class="messageinfo">
                                    <h1 class="ui medium header">Welcome to the GAMeRdb genomic interface database</h1>
                                </div>
                                Explications sur le fonctionnement du site, des fonctionnalitées intégrées et à venir. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Fonctionnalités suivantes :
                                <ul class="list">
                                    <li>Lorem ipsum is life</li>
                                    <li>Blabla et surtout blabla</li>
                                </ul>
                                <p>
                                    Explications sur le fonctionnement du site, des fonctionnalitées intégrées et à venir. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                                </div>
                            </div>
                        </div> 
                        <div class="two column row">               
                            <div class=" column">
                                <div class="ui large message">
                                    <h2 class="ui medium header">Newsfeed</h2>
                                    <ul class="list">
                                        <li><b>MM-DD-YYYY</b> new feature added, <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new feature added, <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new version of the website (X.X beta), <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new version of the website (X.X beta), <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> welcome to the first version of GAMeR's genomic database interface! <a href="#">see more...</a></li>
                                    </ul>
                                </div>
                            </div>              
                            <div class="column">
                                <div class="ui large message">
                                    <h2 class="ui medium header">Database statistics</h2>
                                    <br/>
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui stackable grid" id="aftertopmenu"> <!--main grid (grid of grids) -->
                <!--LEFT GRID : vertical menu -->
                <div class="two wide column" id="leftmenu">
                    <div class="ui vertical menu">
                        <a class="active yellow item">
                            Genomes
                        </a>
                        <a class="item">
                            References
                        </a>
                        <a class="item">
                            ST Distribution
                        </a>
                        <a class="item">
                            Phylogeny
                        </a>
                    </div>
                </div>     
                <!--RIGHT grid : DataTables -->
                <div class="twelve wide column" id="centermenu">
                    <div class="column">
                        <h1 class="ui huge header" id="datatables_header"><span class="datatables_header_text"><i>Salmonella </i>genomes </span></h1>
                    </div>
                    <div class="ui divider"></div>
                    <div class="column">
                        <table id="table_id" class="ui celled table">
                        </table>
                        
                    </div>
                    <div class="column" id="helpme">
                        <i class="circular teal help icon" id="helpgrow"></i><span class="ui small header" id="texthover">Need help?</span>
                    </div>
                    <div class="ui divider">
                    </div>
                </div>
            </div>
            <footer class= "sticky">
                <%include ./../interface/views/includes/footer.html%>
            </footer>
        </div>
    </body>
                <script>
                var data = <%datatablesJSON%>
                
      var my_columns = [];

$.each( data[0], function( key, value ) {
        var my_item = {};
        my_item.data = key;
        my_item.title = key;
        my_columns.push(my_item);
});        

                
                $(document).ready(function() {
                    
                    
	var table = $('#table_id').DataTable( {
        
        data: data,
            columns: [   
        { data: 'SampleID' , "title": "Strain ID"},
        { data: 'Project' , "title": "Project"},
        { data: 'Reads.Center' , "title": "Center"},
        { data: 'Reads.FASTQC_pair1' , "title": " Fastq R1"},
        { data: 'Reads.FASTQC_pair2' , "title": "Fastq R2"},
        { data: 'Reads.FASTQ_pair1' , "title": "Fastqc R1"},
        { data: 'Reads.FASTQ_pair2' , "title": "Fastqc R2"},
        { data: 'Reads.VCF' , "title": "Variants"},
        { data: 'Genome.Contigs' , "title": "Partial Assembly"},
        { data: 'Genome.Assembly' , "title": "Whole Assembly"},
        { data: 'Genome.QUAST' , "title": "Assembly quality"},
        { data: 'Genome.GFF' , "title": "GFF"},
        { data: 'Genome.GBK' , "title": "GBK"},
        { data: 'Report' , "title": "ARTwork report"}
        ],
    columnDefs: [ {
    	orderable: false
    }],
    select: {
    	style: 'os',
    },
    lengthChange: false,
    buttons: ['selectAll', 'copy', 'excel', 'pdf', 'colvis' , 'pageLength']
});
	table.buttons().container()
	.appendTo( $('div.eight.column:eq(0)', table.table().container()));
});
 
            </script>
</html>