<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>GAMeRdb - Genomes </title>
        <meta name="description" content="GAMeR genomic database - Salmonella genomes"/>
        <link rel="shortcut icon" type="image/x-icon" href="../../../img/favicon.ico" />
        <!-- SEMANTIC UI main styles-->
        <link rel="stylesheet" type="text/css" href="../../../../semantic/dist/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../semantic/dist/components/icon.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/icon.min.css"/> <!--Use CDN in case of icons issues-->
        <!--DataTables css-->
        <link rel="stylesheet" type="text/css" href="../../../css/gamer.effects.datatables.css"/> <!--DataTables custom CSS overrides-->    
        <link rel="stylesheet" type="text/css" href="../../../css/dataTables.semanticui.min.css"/> <!--SemanticUI integration for DataTables-->
        <link rel="stylesheet" type="text/css" href="../../../css/select.dataTables.min.css"> <!--SemanticUI styling for DataTables selected rows -->
        <link rel="stylesheet" type="text/css" href="../../../css/buttons.semanticui.min.css"/> <!--SemanticUI styling for DataTables buttons-->       
        <!-- SEMANTIC UI main JS-->
        <script src="../../../../semantic/dist/semantic.min.js"></script>
        <!--jQuery-->
        <script src="../../../../js/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="../../../js/jquery-1.12.4.js"></script><!--jQuery version adapted to DataTables-->
        <!--DataTables JS-->
        <script type="text/javascript" charset="utf8" src="../../../js/gamer.effects.js" defer></script><!--Setting Semantic UI custom JS effects settings + DataTables settings-->
        <script type="text/javascript" charset="utf8" src="../../../js/jquery.dataTables.min.js"></script><!--Main jQuery for Datatables-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.semanticui.min.js"></script><!--SemanticUI integration for DataTables-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.select.min.js"></script><!--SemanticUI integration for DataTables selected rows-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.buttons.min.js"></script><!--SemanticUI integration for DataTables selected buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.semanticui.min.js"></script><!--SemanticUI integration for DataTables buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/jszip.min.js"></script><!--JS class for generating or read zip files-->
        <script type="text/javascript" charset="utf8" src="../../../js/pdfmake.min.js"></script><!--JS class for generating pdf files-->
        <script type="text/javascript" charset="utf8" src="../../../js/vfs_fonts.js"></script><!--PdfMake dependency for generating pdf files-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.html5.min.js" defer></script><!--JS class for generating Datatables buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.print.min.js" defer></script><!--JS class for copying/priting the DataTable-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.colVis.min.js"></script><!--JS class for handling DataTables columns visibility-->
    </head>
    <body>    
        <div id="bloc_page"><!-- main wrapper-->
            <header>
                <div class="ui massive borderless fixed fluid menu">
                    <a class="disabled item" href="/" title="Back to homepage">
                        <img src="../../../img/anseslogomini.png" id="logogrow" href="/">
                    </a>
                    <a class="item" href="../../views/species/bacillus/bacgenomes.html" title="Bacillus workspace"><i>Bacillus</i></a>
                    <a class="item" href="../../views/species/clostridium/closgenomes.html" title="Clostridium workspace"><i>Clostridium</i></a>
                    <a class="item" href="../../views/species/listeria/lisgenomes.html" title="Listeria workspace"><i>Listeria</i></a>
                    <a class="active item" href="../../views/species/salmonella/salmogenomes.html" title="Salmonella workspace"><i>Salmonella</i></a>
                    <a class="item" href="../../views/species/staphylococcus/staphgenomes.html" title="Staphylococcus workspace"><i>Staphylococcus</i></a>
                    <div class="ui right simple dropdown item">
                    Tools<i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="#">Blast</a>
                            <a class="disabled item" title="Very soon">QuickPhylo</a>
                        </div>
                    </div>
                </div>
            </header>        
            
            <div class="ui stackable grid" id="aftertopmenu"> <!--main grid (grid of grids) -->
                <!--LEFT GRID : vertical menu -->
                <div class="two wide column" id="leftmenu">
                    <div class="ui vertical menu">
                        <a class="active yellow item">
                            Genomes
                        </a>
                        <a class="item">
                            References
                        </a>
                        <a class="item">
                            ST Distribution
                        </a>
                        <a class="item">
                            Phylogeny
                        </a>
                    </div>
                </div>     
                <!--RIGHT grid : DataTables -->
                <div class="twelve wide column" id="centermenu">
                    <div class="column">
                        <h1 class="ui huge header" id="datatables_header"><span class="datatables_header_text"><i>Salmonella </i>genomes</span></h1>
                    </div>
                    <div class="ui divider"></div>
                    <div class="column">
                        <table id="table_id" class="ui celled table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ALGORITHM</th>
                                    <th>SESSION ID</th>
                                    <th>SESSION NAME</th>
                                    <th>DATE</th>
                                    <th>AUC</th>
                                    <th>ROC CURVE</th>
                                    <th>F1 SCORE</th>
                                    <th>ACCURACY</th>
                                    <th>REPORT</th>
                                    <th>LOG</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Linear SVM</a></td>
                                    <td>1</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Gaussian Process</a></td>
                                    <td>2</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Decision Tree</a></td>
                                    <td>3</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Decision Tree</a></td>
                                    <td>4</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Decision Tree</a></td>
                                    <td>5</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Random Forest</a></td>
                                    <td>6</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Random Forest</a></td>
                                    <td>7</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Random Forest</a></td>
                                    <td>8</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Neural Network</a></td>
                                    <td>9</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Neural Network</a></td>
                                    <td>5</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>AdaBoost</a></td>
                                    <td>11</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>AdaBoost</a></td>
                                    <td>12</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>AdaBoost</a></td>
                                    <td>14</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>AdaBoost</a></td>
                                    <td>9</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>AdaBoost</a></td>
                                    <td>12</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>AdaBoost</a></td>
                                    <td>5</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Naive Bayes</a></td>
                                    <td>11</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Naive Bayes</a></td>
                                    <td>9</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>Naive Bayes</a></td>
                                    <td>8</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="algo.dump" download>QD analysis</a></td>
                                    <td>13</td>
                                    <td>Projet xxx</td>
                                    <td>xx/xx/2018</td>
                                    <td>0.89</td>
                                    <td>Roc_xxx.svg</td>
                                    <td>XX</td>
                                    <td>XX%</td>
                                    <td><a href="../../img/matrix.png">View</a></td>
                                    <td><a href="simu.log" download>xxxxx.log</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui divider">
                    </div>
                </div>
            </div>
            
            <footer class= "sticky">
                <div class="ui grey inverted  vertical footer segment">
                    <div class="ui stackable inverted center aligned divided grid" id="gridfooter">
                        <div class="two wide column">
                            <h3 class="ui inverted small orange header">Information</h3>
                            <div class="ui inverted link list">
                                <a href="../../views/moreinfo/news.html" class="item">News</a>
                                <a href="http://192.168.4.30/GroupeGenomique/GG.html" class="item" target="_blank" rel="noopener noreferrer">Groupe génomique</a>
                                <a href="../../views/moreinfo/faq.html" class="item">F.A.Q</a>
                                <a href="../../views/moreinfo/about.html" class="item">About us</a>
                            </div>
                        </div>
                        <div class="two wide column">
                            <h3 class="ui inverted small green header">Getting started</h3>
                            <div class="ui inverted link list">
                                <a href="../../views/moreinfo/howto_ivarcall2.html" class="item">iVARCall2 tutorial</a>
                                <a href="../../views/moreinfo/howto_raxml.html" class="item">RAxML tutorial</a>
                                <a href="http://sas-pp-lscalc1:8081/redmine" class="item" target="_blank" rel="noopener noreferrer">Redmine forum</a>
                            </div>
                        </div>
                        <div class="two wide column">
                            <h3 class="ui inverted small blue header">Useful links</h3>
                            <div class="ui inverted link list">
                                <a href="http://intranet.anses.fr/Pages/accueil.aspx" class="item" target="_blank" rel="noopener noreferrer">Anses' intranet</a>
                                <a href="https://www.anses.fr/fr" class="item" target="_blank" rel="noopener noreferrer">Anses' website</a>
                                <a href="https://webmail.anses.fr/" class="item" target="_blank" rel="noopener noreferrer">Anses' webmail</a>
                                <a href="http://vigilanses.mag.anses.fr/fr" class="item" target="_blank" rel="noopener noreferrer">VigilAnses</a>
                            </div>
                        </div>
                        <div class="four wide column">
                            <h3 class="ui inverted small violet header">Contact us</h3>
                            <form class="ui mini form">
                                <div class="two fields">
                                    <div class="field">
                                        <input placeholder="Name" type="text"/>
                                    </div>
                                    <div class="field">
                                        <input placeholder="Mail" type="text"/>
                                    </div>
                                </div>
                                <div class="field">
                                    <textarea placeholder="Message" rows=4></textarea>
                                </div>
                                <div class="submit">
                                    <input type="submit" value="Submit" class="ui mini grey button"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ui inverted section divider" id="lignefooter"></div>
                    <img src="../../../img/ansesgamer.png" id="footerlogo"/>
                    <h4>2016-2018 GAMeRdb v.beta - Unless otherwise stated, all content on the site is licensed under (Creative Commons BY-SA 2.0+?)</h4>
                </div>
            </footer>
        </div>
    </body>  
</html>