#run:hover{
    background-color:#00FFFF;
}
.ui.sticky + div {
  margin-top: 139px;
}
#centermenu{
    margin-top: 1em;
    max-height: 100% !important;
    max-width: 100% !important;
    margin-bottom: 3em !important;
}
/* Redefines H and W for fastosh apge only : sticky footer fix */ 
#bloc_page {
    height: 80% !important;
    width: 100% !important;
}
#howitworks {
    font-size: 16px;
}
/* Centering results buttons to the middle of the page */
#handleresults {
    position:fixed;
    margin-top: 7% !important;
}
/* Invert results buttons colors on hover */
#matrix:hover,#newick:hover,#retry:hover,#switchtree:hover,#dlimage:hover{
    background-color:#3691D4 !important;
    color:#FFFFFF !important;
}
/* Hide rectangular phylogenetic tree and his button by default */
#svgCanvasRect, #switchtreeRect {
    display: none;
}
