/* Common CSS rules used in multiple pages of the website */

.reallytiny{
    font-size: 0.7em !important;
}
/* "need help?" */
#helpme{
    margin-bottom: 0;
    margin-top: auto;
}
/* Video responsive width */
video { 
    display: block;
    margin: 0 auto;
    width:100%;
    height:auto;
}