<!DOCTYPE html>
<html lang="en">
    <!-- GAMeRdbi V2 views : WORK IN PROGRESS -->
    <head>
        <meta charset="utf-8"/>
        <title>GAMeRdb - Fastosh </title>
        <meta name="description" content="GAMeR genomic database - Clostridium genomes"/>
        <link rel="shortcut icon" type="image/x-icon" href="../../../img/favicon.ico" />
        <!-- SEMANTIC UI main styles-->
        <link rel="stylesheet" type="text/css" href="../../../../semantic/dist/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../semantic/dist/components/icon.min.css"/>
        <!-- Fastosh specific CSS code -->
        <link rel="stylesheet" type="text/css" href="../../css/gamer.effects.fastosh.css"/>
        <!-- common CSS -->
        <link rel="stylesheet" type="text/css" href="../../css/gamer.common.css"/>
        <!--jQuery JS-->
        <script src="../../../../js/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="../../../js/jquery-1.12.4.js"></script><!--jQuery version adapted to DataTables-->
        <!-- SEMANTIC UI main JS-->
        <script src="../../../../semantic/dist/semantic.min.js"></script>
        <!-- JS Phylo -->
        <script type="text/javascript" src="../../js/raphael-min.js" ></script> 
	    <script type="text/javascript" src="../../js/jsphylosvg-min.js"></script> 
        <!-- Fastosh specific JS code -->
        <script type="text/javascript" charset="utf8" src="../../js/gamer.fastosh.js" defer></script><!-- exec when document loaded -->
        <!-- common JS -->
        <script type="text/javascript" charset="utf8" src="../../js/gamer.common.js" defer></script><!-- exec when document loaded -->
    </head>
    <body>    
        <div id="bloc_page"><!-- main wrapper-->
            <header>
                <%include ./../interface/views/includes/header.html%></%include>
            </header> 
            <!-- Visible modal when "need help?" was clicked : start -->
            <%include ./../interface/views/includes/genomes_help.html%></%include>
            <!-- Visible modal when "need help?" was clicked : end -->
            <!------------------------------------------------------------------>
            <!-- MAIN PAGE -->
            <!------------------------------------------------------------------>
            <div class="ui stackable grid" id="aftertopmenu"> 
                <!--LEFT GRID : vertical menu -->
                <div class="two wide column" id="leftmenu">
                        <!-- Menu de gauche -->
                </div>     
                <!--RIGHT grid : Fastosh form -->
                <div class="ten wide column" id="centermenu">
                    <div class="ui grid">
                        <div class="eight wide column">
                            <h1 class="ui huge header" id="datatables_header"><span class="datatables_header_text">FasTosh</span></h1>
                        </div>
                        <div class="eight wide right aligned column" id="helpme">
                            <i class="right aligned circular teal help icon" id="helpgrow"></i><span class="ui small header" id="texthover">Need help?</span>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui grid">
                        <div class="sixteen wide column">
                            <div class="ui fluid accordion">
                                <div class="active title">
                                    <h3 class="ui medium header"><i class="dropdown icon"></i>How it works?</h3>
                                </div>
                                <div class="active content">
				    <span class = "list">
				    <p>Standalone version of FasTosh is available <a href = "https://github.com/afelten-Anses/QuickPhylo">here</a></p>
				    </span>
                                    <ul class="list" id="howitworks">
                                        <li>Fastosh aims to fastly build a rooted tree based on k-mers using the neighbour joining clustering method.</li>
                                        <li>To use Fastosh, type directly strains IDs in the form or send them in a txt file (one id per line).</li>
                                        <li>As a result, you obtain a tree visualization. Then it's possible to download matrix and tree files. You can also launch a new analysis. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui grid" id="formgrid">
                        <form class="ui form seven wide column centered">
                            <div class="inline field" id='idslist'>
                                <label>Paste your strains ID list here:</label>
                                <textarea rows="5" placeholder="Please enter strains ID"></textarea>
                            </div>
                            <div class="field" id="fileslist">
                                <label for='tfile'> Or upload them in a text file here: </label>
                                <input type="file" class="form-control"  name="tfile"/>
                            </div>
                        <button class="ui button" type="submit" id="run"> Run </button>
                        <button class="ui button" type="reset" id="reset"> Reset </button>
                        </form>
                    </div>
                    <!-- download tree -->
                </div>
            </div>
        </div>
        <footer class="sticky">
            <%include ./../interface/views/includes/footer.html%></%include>
        </footer>
    </body>
</html>
