<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>About US</title>
        <meta name="description" content="GAMeR genomic database - About us" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico" />
        <!-- Common CSS -->
        <link rel="stylesheet" type="text/css" href="../../css/gamer.common.css"/>
        <!-- Semantic UI CSS -->
        <link rel="stylesheet" type="text/css" href="../../../semantic/dist/semantic.min.css"/>
        <!-- JQuery JS -->
        <script src="../../js/jquery.min.js"></script>
        <!-- SemanticUI JS -->
        <script src="../../../semantic/dist/semantic.min.js"></script>
        <!-- common JS -->
        <script type="text/javascript" charset="utf8" src="../../js/gamer.common.js" defer></script> <!-- used in almost every page of this website -->
    </head>
    <body>
        <!-- main wrapper "bloc_page". Englobe tout le site pour la mise en page globale-->
        <div id="bloc_page">
            <header>
                <%include ./../interface/views/includes/header.html%></%include>
            </header>        
            <div class="ui stackable grid" id="aftertopmenu"> <!--grid principal (grids de grids) -->
                <div class="one column row">
                    <h1 class="ui center aligned icon header teal">
                        <i class="circular users icon"></i>
                        About Us
                    </h1>
                </div>
                <div class="one centered column row">
                    <div class="ui segment">
                        <div class="ui people shape">
                            <div class="sides">
                                <!-- ACTIVE side -->
                                <div class="active side">
                                    <div class="ui card">
                                        <div class="image">
                                            <img src="/img/avatars/af.jpg">
                                        </div>
                                        <div class="content">
                                            <div class="header">
                                                Arnaud Felten
                                            </div>
                                            <div class="meta">
                                                <a>Project manager in bioinformatics</a>
                                            </div>
                                            <div class="description">
                                                Arnaud is consectetur adipiscing elit. Nunc finibus est eget mi tempor, sed rhoncus est pulvinar.
                                            </div>
                                        </div>
                                        <div class="extra content">
                                            <span class="right floated">
                                            Joined in 2014
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- New side -->
                                <div class="side">
                                    <div class="ui card">
                                        <div class="image">
                                            <img src="/img/avatars/kd.png">
                                        </div>
                                        <div class="content">
                                            <a class="header">Kévin Durimel</a>
                                            <div class="meta">
                                                <a>Bioinformatics engineer</a>
                                            </div>
                                            <div class="description">
                                                Kévin joined GAMeR's for its internship, then its apprenticeship. He helped to develop
                                                amazing tools for VARtools, the ARTwork workflow, and this webapp. 
                                                Sometimes, Kévin was caught coding stuff for humans.
                                            </div>
                                        </div>
                                        <div class="extra content">
                                            <span class="right floated">
                                            Joined in 2016 - Left us end 2018
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                 <!-- New side -->
                                <div class="side">
                                    <div class="ui card">
                                        <div class="image">
                                            <img src="/img/avatars/nr.jpg">
                                        </div>
                                        <div class="content">
                                            <a class="header">Nicolas Radomski</a>
                                            <div class="meta">
                                                <a>Research projet manager in genomics</a>
                                            </div>
                                            <div class="description">
                                               Nicolas is consectetur adipiscing elit. Nunc finibus est eget mi tempor, sed rhoncus est pulvinar.
                                            </div>
                                        </div>
                                        <div class="extra content">
                                            <span class="right floated">
                                            Joined in 2014
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                 <!-- New side -->
                                <div class="side">
                                    <div class="ui card">
                                        <div class="image">
                                            <img src="/img/avatars/lm.png">
                                        </div>
                                        <div class="content">
                                            <a class="header">Ludovic Mallet</a>
                                            <div class="meta">
                                                <a>Research projet manager in bioinformatics</a>
                                            </div>
                                            <div class="description">
                                            PhD in genome analysis and molecular modeling. Project captain, evolution fan, bioinformatics mystic.
                                            Clustering geek, genomics nerd, kmer counter. HPC maven, software custodian, compilation ninja. Hipster before it was cool.
                                            Climbs stuff for fun.

                                            </div>
                                        </div>
                                        <div class="extra content">
                                            <span class="right floated">
                                            Joined in 2017
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="teal ui buttons" id="groupbuttons">
                        <button class="circular ui icon button" id="left">
                            <i class="left arrow icon"></i>
                        </button>
                        <button class="circular ui icon button" id="up">
                            <i class="up arrow icon"></i>
                        </button>
                        <button class="circular ui icon button" id="down">
                            <i class="down arrow icon"></i>
                        </button>
                        <button class="circular ui icon button" id="right">
                            <i class="right arrow icon"></i>
                        </button>
                    </div>
                    <div class="ui segment" id="lastsegment">
                        <h2>Special thanks to</h2>
                        <br/>
                        <h3 class="ui header">The dream team</h3>
                        <img class="ui large centered rounded image" src="/img/dreamteam.jpg" id="dreamteam"/>
                        <p>Kevin for the webapp deployment, Pauline for integrating its tool (Fastosh) to the webapp, and Arnaud for 
                        supervising <b>inexhaustibly</b> each of these two students.</p>
                        <h3 class="ui header">Barthélémy Julien</h3>
                        <img class="ui medium centered rounded image" src="/img/bjulien.jpg" id="dreamteam"/>
                        <p>for his <b>quality</b> drawings</p>
                    </div>
                </div>
            </div>
            <!-- ex classe sticky-->
            <footer>
                <%include ./../interface/views/includes/footer.html%></%include>
            </footer>       
        </div>
    </body>
    <style>
        #aftertopmenu{
            margin-top: 7em;
        }
        #dreamteam{
            margin-top:0;
        }
        h2 {
          font-weight: bold;
          color: #00B5AD;
          font-size: 3em;
        }
        #lastsegment{
            margin-top: 4em;
        }
    </style>
    <script>
        $('.shape').shape();
        $('#left').click( () => {
            $('.shape').shape('flip left');
        }); 
        $('#up').click( () => {
            $('.shape').shape('flip up');
        });
        $('#down').click( () => {
            $('.shape').shape('flip down');
        });
        $('#right').click( () => {
            $('.shape').shape('flip right');
        });
    </script>
</html>