<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Listeria CC distribution</title>
        <meta name="description" content="GAMeR genomic database - Listeria genomes"/>
        <link rel="shortcut icon" type="image/x-icon" href="../../../img/favicon.ico" />
        <!-- SEMANTIC UI main styles-->
        <link rel="stylesheet" type="text/css" href="../../../../semantic/dist/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../semantic/dist/components/icon.min.css"/>
        <!--DataTables css-->
        <link rel="stylesheet" type="text/css" href="../../../css/gamer.effects.datatables.css"/> <!--DataTables custom CSS overrides-->    
        <link rel="stylesheet" type="text/css" href="../../../css/dataTables.semanticui.min.css"/> <!--SemanticUI integration for DataTables-->
        <link rel="stylesheet" type="text/css" href="../../../css/select.dataTables.min.css"> <!--SemanticUI styling for DataTables selected rows -->
        <link rel="stylesheet" type="text/css" href="../../../css/buttons.semanticui.min.css"/> <!--SemanticUI styling for DataTables buttons-->       
        <!--jQuery JS-->
        <script src="../../../../js/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="../../../js/jquery-1.12.4.js"></script><!--jQuery version adapted to DataTables-->
        <!-- SEMANTIC UI main JS-->
        <script src="../../../../semantic/dist/semantic.min.js"></script>
        <!--DataTables JS-->
        <script type="text/javascript" charset="utf8" src="../../../js/gamer.datatables.listeria.js" defer></script><!--Set Semantic UI custom JS effects and DataTables-->
        <script type="text/javascript" charset="utf8" src="../../../js/jquery.dataTables.min.js"></script><!--Main jQuery for Datatables-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.semanticui.min.js"></script><!--SemanticUI integration for DataTables-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.select.min.js"></script><!--SemanticUI integration for DataTables selected rows-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.buttons.min.js"></script><!--SemanticUI integration for DataTables selected buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.semanticui.min.js"></script><!--SemanticUI integration for DataTables buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/jszip.min.js"></script><!--JS class for generating or read zip files-->
        <script type="text/javascript" charset="utf8" src="../../../js/pdfmake.min.js"></script><!--JS class for generating pdf files-->
        <script type="text/javascript" charset="utf8" src="../../../js/vfs_fonts.js"></script><!--PdfMake dependency for generating pdf files-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.html5.min.js" defer></script><!--JS class for generating Datatables buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.print.min.js" defer></script><!--JS class for copying/priting the DataTable-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.colVis.min.js"></script><!--JS class for handling DataTables columns visibility-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.colReorder.min.js"></script>
        <!-- Highcharts JS -->
        <script src="../../../js/highcharts.js"></script><!-- base -->
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <!-- common JS -->
        <script type="text/javascript" charset="utf8" src="../../js/gamer.common.js" defer></script><!-- exec when document loaded -->
    </head>
    <body>    
        <div id="bloc_page"><!-- main wrapper-->
            <header>
                <%include ./../interface/views/includes/header.html%></%include>
            </header>
            <!-- Visible modal when "need help?" was clicked : start -->
            <%include ./../interface/views/includes/genomes_help.html%></%include>
            <!-- Visible modal when "need help?" was clicked : end -->
            <!------------------------------------------------------------------>
            <!-- MAIN PAGE -->
            <!------------------------------------------------------------------>
            <div class="ui stackable grid" id="aftertopmenu"> 
                <!--LEFT GRID : vertical menu -->
                <div class="two wide column" id="leftmenu">
                    <div class="ui sticky vertical menu">
                        <a class="item" data-tooltip="Browse and download Listeria data generated by ARTwork" data-position="right center" data-variation="wide" data-inverted="" href="../listeria/genomes">
                            Genomes
                        </a>
                        <a class="item" data-tooltip="Browse and download WGS data about Listeria reference genomes" data-position="right center" data-variation="wide" data-inverted="" href="../listeria/refs">
                            References
                        </a>
                        <a class="active yellow item" data-tooltip="Global CC distribution overview of the Listeria strains processed by ARTwork" data-position="right center" data-variation="wide" data-inverted="">
                            CC distribution
                        </a>
                        <a class="item" data-tooltip="Global ST distribution overview of the Listeria strains processed by ARTwork" data-position="right center" data-variation="wide" data-inverted="">
                            ST distribution
                        </a>
                        <a class="item" data-tooltip="Global phylogeny of the Listeria processed by ARTwork" data-position="right center" data-variation="huge" data-inverted="" href="../listeria/phylogeny">
                            Phylogeny
                        </a>
                    </div>
                </div>     
                <!--RIGHT grid : DataTables -->
                <div class="twelve wide column" id="centermenu">
                    <div class="seven wide column">
                        <div class="ui grid">
                        <div class="eight wide column">
                            <h1 class="ui huge header" id="datatables_header"><span class="datatables_header_text"><i>Listeria </i>CC distribution </span></h1>
                            <div class="ui divider">
                    </div>
                        </div>
                        <div class="eight wide right aligned column" id="helpme">
                            <i class="right aligned circular teal help icon" id="helpgrow"></i><span class="ui small header" id="texthover">Need help?</span>
                        </div>
                    </div>
                        <div id="distribution" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                    <div class="eigth wide column">
                    <div class="ui divider"></div>
                    <div class="column">
                        <table id="table_id" class="ui selectable striped celled yellow padded table center aligned">
                        </table>
                        
                    </div>
                    <div class="ui divider">
                    </div>
                    <div class="column" id="dlcheckbox">
                        <div class="field">
                            <i class="large cloud download icon"></i><span class="ui small header"> Download settings</span>
                        </div>
                        <div class="ui form">
                            <br/>
                            <div class="inline multiple fields">
                                <div class="field">
                                    <div class="ui slider checkbox">
                                        <input id="All" type="checkbox">
                                        <label>Download all</label>
                                    </div>
                                </div>
                            </div>
                            <div class="inline multiple fields"><!--custom classes : ui radio checkbox {report;wgs} in order to enable check all by groupe-->
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input name="fastq" type="checkbox">
                                        <label>Normalized reads (fastq)</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input name="frequency" type="checkbox">
                                        <label>Variants</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input name="frequency" type="checkbox">
                                        <label>Contigs</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input name="frequency" type="checkbox">
                                        <label>Assembly</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input name="frequency" type="checkbox">
                                        <label>GBK</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input name="frequency" type="checkbox">
                                        <label>GFF</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input name="frequency" type="checkbox">
                                        <label>ARTwork report</label>
                                    </div>
                                </div>
                            </div>
                            <button class="ui left floated teal button" id="dtDownload">Download</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <footer class= "sticky">
                <%include ./../interface/views/includes/footer.html%></%include>
            </footer>
        </div>
    </body>
    <style>
            #MultiQC_preview {
  width:90%;
  height:90%;
   margin-top: 2% !important;
}
            </style>
    <script>
        <!--from GAMeRdb JSON and species specific : add species DataTables and MultiQC caption-->
        var data = <%datatablesJSON%>
        $(document).ready(function() {
            Highcharts.chart('distribution', {
  chart: {
    type: 'column'
  },
  title: {
    text: 'Histogram using a column chart'
  },
  subtitle: {
    text: ''
  },
  xAxis: {
    // --> CC1, 2 etc... JSON keys!
    categories: [
      'Jan',
      'Feb',
      'Mar',
      'Apr',
      'May',
      'Jun',
      'Jul',
      'Aug',
      'Sep',
      'Oct',
      'Nov',
      'Dec'
    ],
    crosshair: true
  },
  yAxis: {
    min: 0,
    title: {
      text: ''
    }
  },
  tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
      '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
    footerFormat: '</table>',
    shared: true,
    useHTML: true
  },
  plotOptions: {
    column: {
      pointPadding: 0,
      borderWidth: 0,
      groupPadding: 0,
      shadow: false
    }
  },
  series: [{
    name: 'Data',
      // CC value for each JSON key!
    data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 124.1, 95.6, 54.4, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 124.1, 95.6, 54.4, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 124.1, 95.6, 54.4]

  }]
});


            
        });
    </script>
</html>