<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>ST distribution</title>
        <meta name="description" content="GAMeR genomic database - Listeria ST distribution"/>
        <link rel="shortcut icon" type="image/x-icon" href="../../../img/favicon.ico" />
        <!-- SEMANTIC UI main styles-->
        <link rel="stylesheet" type="text/css" href="../../../../semantic/dist/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../semantic/dist/components/icon.min.css"/>
        <!--DataTables css-->
        <link rel="stylesheet" type="text/css" href="../../../css/gamer.effects.datatables.css"/> <!--DataTables custom CSS overrides-->    
        <link rel="stylesheet" type="text/css" href="../../../css/dataTables.semanticui.min.css"/> <!--SemanticUI integration for DataTables-->
        <link rel="stylesheet" type="text/css" href="../../../css/select.dataTables.min.css"> <!--SemanticUI styling for DataTables selected rows -->
        <link rel="stylesheet" type="text/css" href="../../../css/buttons.semanticui.min.css"/> <!--SemanticUI styling for DataTables buttons-->       
        <!--jQuery JS-->
        <script src="../../../../js/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="../../../js/jquery-1.12.4.js"></script><!--jQuery version adapted to DataTables-->
        <!-- SEMANTIC UI main JS-->
        <script src="../../../../semantic/dist/semantic.min.js"></script>
        <!--DataTables JS-->
        <script type="text/javascript" charset="utf8" src="../../../js/gamer.datatables.listeria.js" defer></script><!--Set Semantic UI custom JS effects and DataTables-->
        <script type="text/javascript" charset="utf8" src="../../../js/jquery.dataTables.min.js"></script><!--Main jQuery for Datatables-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.semanticui.min.js"></script><!--SemanticUI integration for DataTables-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.select.min.js"></script><!--SemanticUI integration for DataTables selected rows-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.buttons.min.js"></script><!--SemanticUI integration for DataTables selected buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.semanticui.min.js"></script><!--SemanticUI integration for DataTables buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/jszip.min.js"></script><!--JS class for generating or read zip files-->
        <script type="text/javascript" charset="utf8" src="../../../js/pdfmake.min.js"></script><!--JS class for generating pdf files-->
        <script type="text/javascript" charset="utf8" src="../../../js/vfs_fonts.js"></script><!--PdfMake dependency for generating pdf files-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.html5.min.js" defer></script><!--JS class for generating Datatables buttons-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.print.min.js" defer></script><!--JS class for copying/priting the DataTable-->
        <script type="text/javascript" charset="utf8" src="../../../js/buttons.colVis.min.js"></script><!--JS class for handling DataTables columns visibility-->
        <script type="text/javascript" charset="utf8" src="../../../js/dataTables.colReorder.min.js"></script>
        <!-- Highcharts JS -->
        <script type="text/javascript" charset="utf8" src="../../../js/highcharts.js"></script><!-- base -->
        <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/modules/exporting.js"></script>
        <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/modules/export-data.js"></script>
        <!-- Common JS -->
        <script type="text/javascript" charset="utf8" src="../../js/gamer.common.js" defer></script><!-- exec when document loaded -->
        <!-- Common JS for distribution pages -->
        <script type="text/javascript" charset="utf8" src="../../../js/gamer.common.distribution.js"></script>
        <!-- Underscore JS -->
        <script type="text/javascript" charset="utf8" src="../../../js/underscore-min.js"></script><!-- JSON requests algorithms client side -->
    </head>
    <body>    
        <div id="bloc_page"><!-- main wrapper-->
            <header>
                <%include ./../interface/views/includes/header.html%></%include>
            </header>
            <!-- Visible modal when "need help?" was clicked : start -->
            <%include ./../interface/views/includes/genomes_help.html%></%include>
            <!-- Visible modal when "need help?" was clicked : end -->
            <!------------------------------------------------------------------>
            <!-- MAIN PAGE -->
            <!------------------------------------------------------------------>
            <div class="ui stackable grid" id="aftertopmenu"> 
                <!--LEFT GRID : vertical menu -->
                <div class="two wide column" id="leftmenu">
                    <div class="ui sticky vertical menu">
                        <a class="item" data-tooltip="Browse and download Listeria data generated by ARTwork" data-position="right center" data-variation="wide" data-inverted="" href="../listeria/genomes">
                            Genomes
                        </a>
                        <a class="item" data-tooltip="Browse and download WGS data about Listeria reference genomes" data-position="right center" data-variation="wide" data-inverted="" href="../listeria/refs">
                            References
                        </a>
                        <a class="item" data-tooltip="Global CC distribution overview of the Listeria strains processed by ARTwork" data-position="right center" data-variation="wide" data-inverted="" href="../listeria/ccdistribution">
                            CC distribution
                        </a>
                        <a class="active yellow item" data-tooltip="Global ST distribution overview of the Listeria strains processed by ARTwork" data-position="right center" data-variation="wide" data-inverted="" href="../listeria/stdistribution">
                            ST distribution
                        </a>
                        <a class="item" data-tooltip="Global phylogeny of the Listeria processed by ARTwork" data-position="right center" data-variation="huge" data-inverted="" href="../listeria/phylogeny">
                            Phylogeny
                        </a>
                    </div>
                </div>     
                <!--RIGHT grid : DataTables -->
                <div class="twelve wide column" id="centermenu">
                    <div class="seven wide column">
                        <div class="ui grid">
                        <div class="eight wide column">
                            <h1 class="ui huge header" id="datatables_header"><span class="datatables_header_text"><i>Listeria </i>ST distribution </span></h1>
                        </div>
                        <div class="eight wide right aligned column" id="helpme">
                            <i class="right aligned circular teal help icon" id="helpgrow"></i><span class="ui small header" id="texthover">Need help?</span>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="column">
                        <div id="distribution" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                    <div class="eigth wide column">
                    <div class="ui divider"></div>
                    <div class="column">
                        <table id="table_id" class="ui selectable striped celled padded table center aligned">
                        </table>   
                    </div>
                </div>
                </div>
            </div>
            <footer class= "sticky">
                <%include ./../interface/views/includes/footer.html%></%include>
            </footer>
        </div>
    </body>
    <script>
        var data = <%datatablesJSON%>
        makeHighChartsST(data,'Listeria')
    </script>
</html>