<div class="ui grey inverted  vertical footer segment">
                    <div class="ui stackable inverted center aligned divided grid" id="gridfooter">
                        <div class="two wide column">
                            <h3 class="ui inverted small orange header">Information</h3>
                            <div class="ui inverted link list">
                                <!--<a href="../../moreinfo/news" class="item">News</a>-->
                                <a href="http://192.168.4.30/GroupeGenomique/GG.html" class="item" target="_blank" rel="noopener noreferrer">Groupe génomique</a>
                                <a href="/moreinfo/faq" class="item">F.A.Q</a>
                                <a href="/moreinfo/about" class="item">About us</a>
                            </div>
                        </div>
                        <div class="two wide column">
                            <h3 class="ui inverted small green header">Getting started</h3>
                            <div class="ui inverted link list">
                                <a href="../../species/salmonella/genomes_tutorial" class="item">Workspaces tutorial</a>
                                <a href="../../moreinfo/howto_ivarcall2" class="item">iVARCall2 tutorial</a>
                                <a href="../../moreinfo/howto_raxml" class="item">RAxML tutorial</a>
                                <a href="http://sas-pp-lscalc1:8081/redmine" class="item" target="_blank" rel="noopener noreferrer">Redmine forum</a>
                            </div>
                        </div>
                        <div class="two wide column">
                            <h3 class="ui inverted small blue header">Useful links</h3>
                            <div class="ui inverted link list">
                                <a href="http://intranet.anses.fr/Pages/accueil.aspx" class="item" target="_blank" rel="noopener noreferrer">Anses' intranet</a>
                                <a href="https://www.anses.fr/fr" class="item" target="_blank" rel="noopener noreferrer">Anses' website</a>
                                <a href="https://webmail.anses.fr/" class="item" target="_blank" rel="noopener noreferrer">Anses' webmail</a>
                                <a href="http://vigilanses.mag.anses.fr/fr" class="item" target="_blank" rel="noopener noreferrer">VigilAnses</a>
                            </div>
                        </div>
                        <div class="four wide column" id="footertutorial">
                            <h3 class="ui inverted small violet header">Contact us</h3>
                            <form class="ui footer mini form" method="post">
                                <div class="two fields">
                                    <div class="field">
                                        <input placeholder="First name Last name" type="text" id="name"/>
                                    </div>
                                    <div class="field">
                                        <input placeholder="Mail" type="text" id="mail"/>
                                    </div>
                                </div>
                                <div class="field">
                                    <textarea placeholder="Message" rows=4 id="message"></textarea>
                                </div>
                                <div class="submit">
                                    <button class="ui mini grey submit button" id="contact" name="Submit">Submit</button>
                                </div>
                                <!-- Errors about form validation will be displayed here -->
                                <div class="ui error message"> 
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ui inverted section divider" id="lignefooter"></div>
                    <img src="../../img/ansesgamer.png" id="footerlogo"/>
                    <h4>2016-2018 GAMeRdb v.beta - Unless otherwise stated, all content on the site is licensed under (Creative Commons BY-SA 2.0+)</h4>
                </div>
<!-- Modal on form sucessfully submitted -->
<div class="ui sucess modal">
  <div class="header">
      We had successfully received your message.
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="../../img/gamer.png">
    </div>
    <div class="description">
        <div class="ui header">Your ticket is number <span id="userposition">X</span> in the waiting list.</div>
        <p>We'll contact you as soon as possible at <span id="usermail"><b>X</b></span>. Here is the message you sent:</p>
        <div class="ui compact message">
            <p><span id="usermessage">xxxxxxxxxxxxxx</span></p>
        </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Ok, thanks
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<!-- Modal on form not submitted -->
<div class="ui fail modal">
      <div class="header">
      Something bad happended.
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="../../img/what.jpg">
    </div>
    <div class="description">
        <div class="ui header">There is an unhandled error.</div>
        <p>We are so sorry. Can you please report us this bug directly by email?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Ok, thanks
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>