<div class="ui longer fullscreen modal scrolling vontent transition">
                <div class="twelve wide column" id="centermenu">
                    <br/>
                    <h1 class="ui massive centered header">How to use the species workspace?</h1>
                    <div class="ui one column stackable grid">
                        <div class="justified row">
                            <div class="column">
                            <br/>
                            <div class="ui info large message">
                                <div class="messageinfo">
                                    <h1 class="ui medium header">Welcome to the GAMeRdb genomic interface database</h1>
                                </div>
                                <video controls poster="../../../videos/genomesDLtutorial.png"><source src="../../../videos/genomesDLtutorial.mp4" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" type="video/mp4"></video>
                                Explications sur le fonctionnement du site, des fonctionnalitées intégrées et à venir. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Fonctionnalités suivantes :
                                <ul class="list">
                                    <li>Lorem ipsum is life</li>
                                    <li>Blabla et surtout blabla</li>
                                </ul>
                                <p>
                                    Explications sur le fonctionnement du site, des fonctionnalitées intégrées et à venir. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                                </div>
                            </div>
                        </div> 
                        <div class="two column row">               
                            <div class=" column">
                                <div class="ui large message">
                                    <h2 class="ui medium header">Newsfeed</h2>
                                    <ul class="list">
                                        <li><b>MM-DD-YYYY</b> new feature added, <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new feature added, <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new version of the website (X.X beta), <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new version of the website (X.X beta), <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> welcome to the first version of GAMeR's genomic database interface! <a href="#">see more...</a></li>
                                    </ul>
                                </div>
                            </div>              
                            <div class="column">
                                <div class="ui large message">
                                    <h2 class="ui medium header">Database statistics</h2>
                                    <br/>
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
                <div class="twelve wide column" id="centermenu">
                    <div class="ui one column stackable grid">
                        <div class="justified row">
                            <div class="column">
                            <br/>
                            <div class="ui info large message">
                                <i class="close icon"></i>
                                <div class="messageinfo">
                                    <h1 class="ui medium header">Welcome to the GAMeRdb genomic interface database</h1>
                                </div>
                                Explications sur le fonctionnement du site, des fonctionnalitées intégrées et à venir. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Fonctionnalités suivantes :
                                <ul class="list">
                                    <li>Lorem ipsum is life</li>
                                    <li>Blabla et surtout blabla</li>
                                </ul>
                                <p>
                                    Explications sur le fonctionnement du site, des fonctionnalitées intégrées et à venir. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                                </div>
                            </div>
                        </div> 
                        <div class="two column row">               
                            <div class=" column">
                                <div class="ui large message">
                                    <h2 class="ui medium header">Newsfeed</h2>
                                    <ul class="list">
                                        <li><b>MM-DD-YYYY</b> new feature added, <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new feature added, <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new version of the website (X.X beta), <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> new version of the website (X.X beta), <a href="#">see more...</a></li>
                                        <li><b>MM-DD-YYYY</b> welcome to the first version of GAMeR's genomic database interface! <a href="#">see more...</a></li>
                                    </ul>
                                </div>
                            </div>              
                            <div class="column">
                                <div class="ui large message">
                                    <h2 class="ui medium header">Database statistics</h2>
                                    <br/>
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>