<div class="ui longer fullscreen modal scrolling vontent transition">
                <div class="twelve wide column" id="centermenu">
                    <div class="ui one column stackable grid">
                        <div class="justified row">
                            <div class="column">
                                <br/>
                                <h1 class="ui huge centered header">SPECIES WORKSPACE</h1>
                                <div class="ui info large message">
                                    <div class="messageinfo">
                                        <h2 class="ui huge centered header">Select strains and donwload their bioinformatics data</h2>
                                        <center>For a better user experience, please try the 
                                            <a class="item" href="../../views/species/salmonella/genomes_tutorial">interactive tutorial</a>
                                        </center>
                                    </div>
                                    <br/>
                                    <video controls poster="../../../videos/genomesDLtutorial.png"><source src="../../../videos/genomesDLtutorial.mp4" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" type="video/mp4"></video>
                                    <br/>
                                    <h3 class="ui huge small header">You can use various selection modes</h3>
                                    <ul>
                                        <li>Left click: simple selection </li>
                                        <li>CTRL+left click: one per one incremental selection </li>
                                        <li>CTRL+letf click : multiple selection</li>
                                    </ul>
                                    You can mix these 3 selections modes. 
                                    <br/>Please notice <b>you can also:</b>
                                    <ul>
                                        <li>See or download these files one per one by click on the clickable links</li>
                                        <li>Sort the rows alphanumerically by clicking on its headers</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <br/>
                                <h1 class="ui huge centered header">REFERENCES WORKSPACE</h1>
                                <div class="ui info large message">
                                    <div class="messageinfo">
                                        <h2 class="ui huge centered header">Select references and donwload their bioinformatics data</h2>
                                    </div>
                                    <br/>
                                    <video controls poster="../../../videos/references.png"><source src="../../../videos/references.mp4" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" type="video/mp4"></video>
                                    <br/>
                                    <h3 class="ui huge small header">You can use various selection modes</h3>
                                    <ul>
                                        <li>Left click: simple selection </li>
                                        <li>CTRL+left click: one per one incremental selection </li>
                                        <li>CTRL+letf click : multiple selection</li>
                                    </ul>
                                    You can mix these 3 selections modes. 
                                    <br/>Please notice <b>you can also:</b>
                                    <ul>
                                        <li>See or download these files one per one by click on the clickable links</li>
                                        <li>Sort the rows alphanumerically by clicking on its headers</li>
                                    </ul>
                                    <br/>
                                </div>
                            </div>
                            <div class="column">
                                <br/>
                                <h1 class="ui huge centered header">DISTRIBUTION WORKSPACE</h1>
                                <div class="ui info large message">
                                    <div class="messageinfo">
                                        <h2 class="ui huge centered header">Browse around CC/ST/Serovar distribution</h2>
                                    </div>
                                    <br/>
                                    <video controls poster="../../../videos/distribution.png"><source src="../../../videos/distribution.mp4" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" type="video/mp4"></video>
                                    <br/>
                                    <h3 class="ui huge small header">To filter the dynamic table for one specific CC/ST/Serovar</h3>
                                    <ul>
                                        <li>Go on the histogram chart </li>
                                        <li>Left click on the chart caption containing your desired CC/ST/Serovar </li>
                                    </ul>
                                    You can use all the same dynamic tables functionalities than the ones implemented in the other workspaces, except download.
                                </div>
                            </div>
                            <div class="column">
                                <br/>
                                <h1 class="ui huge centered header">FASTOSH TOOL: FAST PHYLOGENIES</h1>
                                <div class="ui info large message">
                                    <div class="messageinfo">
                                        <h2 class="ui huge centered header">FasTosh</h2>
                                    </div>
                                    <br/>
                                    <video controls poster="../../../videos/fastosh.png"><source src="../../../videos/fastosh.mp4" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" type="video/mp4"></video>
                                    <br/>
                                    <ul class="list">
                                        <li>Fastosh aims to fastly build a rooted tree based on k-mers using the neighbour joining clustering method.</li>
                                        <li>To use Fastosh, type directly strains IDs in the form or send them in a txt file (one id per line).</li>
                                        <li>As a result, you obtain a tree visualization. Then it's possible to download matrix and tree files. You can also launch a new analysis. </li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>