<div class="ui longer fullscreen modal scrolling vontent transition">
                <div class="twelve wide column" id="centermenu">
                    <div class="ui one column stackable grid">
                        <div class="justified row">
                            <div class="column">
                                <br/>
                                <h1 class="ui huge centered header">SPECIES WORKSPACE</h1>
                                <div class="ui info large message">
                                    <div class="messageinfo">
                                        <h2 class="ui huge centered header">Select strains and donwload their bioinformatics data</h2>
                                        <center>For more a better user experience, dont forget to try the 
                                            <a class="item" href="../../views/species/salmonella/genomes_tutorial">interactive tutorial</a>
                                        </center>
                                    </div>
                                    <br/>
                                    <video controls poster="../../../videos/genomesDLtutorial.png"><source src="../../../videos/genomesDLtutorial.mp4" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" type="video/mp4"></video>
                                    <br/>
                                    <h3 class="ui huge small header">You can use various selection modes</h3>
                                    <ul>
                                        <li>Left click: simple selection </li>
                                        <li>CTRL+left click: one per one incremental selection </li>
                                        <li>CTRL+letf click : multiple selection</li>
                                    </ul>
                                    You can mix these 3 selections modes. 
                                    <br/>Please notice <b>you can also:</b>
                                    <ul>
                                        <li>See or download these files one per one by click on the clickable links</li>
                                        <li>Sort the rows alphanumerically by clicking on its headers</li>
                                    </ul>
                                </div>
                                <div class="ui info large message">
                                    <div class="messageinfo">
                                        <h2 class="ui huge centered header">Table features (filtering, change display) (W.I.P)</h2>
                                        <center>For more a better user experience, dont forget to try the 
                                            <a class="item" href="../../views/species/salmonella/genomes_tutorial">interactive tutorial</a>
                                        </center>
                                    </div>
                                    <br/>
                                    <!--<video controls poster="#"><source src="#" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" type="video/mp4"></video>-->
                                    A video will be available very soon
                                    <br/>
                                </div> 
                            </div>
                            <div class="column">
                                <br/>
                                <h1 class="ui huge centered header">REFERENCES WORKSPACE(W.I.P)</h1>
                                <div class="ui info large message">
                                    <div class="messageinfo">
                                        <h2 class="ui huge centered header">Select strains and donwload their bioinformatics data</h2>
                                        <center>For more a better user experience, dont forget to try the 
                                            <a class="item" href="#">interactive tutorial</a>
                                        </center>
                                    </div>
                                    <br/>
                                    <!--<video controls poster="#"><source src="#" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" type="video/mp4"></video>-->
                                    <br/>
                                </div>
                                <div class="ui info large message">
                                    <div class="messageinfo">
                                        <h2 class="ui huge centered header">Table features (filtering, change display) (W.I.P)</h2>
                                        <center>For more a better user experience, dont forget to try the 
                                            <a class="item" href="../../views/species/salmonella/genomes_tutorial">interactive tutorial</a>
                                        </center>
                                    </div>
                                    <br/>
                                    <!--<video controls poster="#"><source src="#" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" type="video/mp4"></video>-->
                                    <br/>
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>