<div class="ui massive borderless fixed fluid menu">
                    <a class="disabled item" href="/" title="Back to homepage">
                        <img src="../../img/anseslogomini.png" id="logogrow" href="/">
                    </a>
                    <a class="item" href="javascript:void(null);" data-tooltip="Bacillus workspace" data-position="bottom center" data-variation="wide" data-inverted="" id="bacillus">
                        <i>Bacillus</i>
                    </a>
                    <a class="item" href="../../species/clostridium/genomes" data-tooltip="Clostridium workspace" data-position="bottom center" data-variation="wide" data-inverted="" id="clostridium">
                        <i>Clostridium</i>
                    </a>
                    <a class="item" href="../../species/listeria/genomes" data-tooltip="Listeria workspace" data-position="bottom center" data-variation="wide" data-inverted="" id="listeria">
                        <i>Listeria</i>
                    </a>
                    <a class="item" href="../../species/salmonella/genomes" data-tooltip="Salmonella workspace" data-position="bottom center" data-variation="wide" data-inverted="" id="salmonella">
                        <i>Salmonella</i>
                    </a>
                    <a class="item" href="../../species/staphylococcus/genomes" data-tooltip="Staphylococcus workspace" data-position="bottom center" data-variation="wide" data-inverted="" id="staphylococcus">
                        <i>Staphylococcus</i>
                    </a>
                    <div class="ui right simple dropdown item" id="tools">
                    Tools<i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="../../tools/fastosh">FasTosh</a>
                            <a class="disabled item" href="#" title="Very soon">Blast</a>
                        </div>
                    </div>
                </div>