<!-- news n°X start -->
<div class="title">
    <i class="dropdown icon"></i>
    <b>April 19th, 2018 : first version of the website (open beta)</b><!-- news title -->
</div>
<div class="content"><!-- news content -->
    <p>Some pages are now in opened to the public as beta version: </p>
    <center><img src="../../../videos/genomesDLtutorial.png" width="250px"></center>
    <li>
        "Genomes Workspace" pages (Clostridium,Listeria,Salmonella,Staphylococcus): In these pages, you'll find any information whe have about all genomes processed by ARTwork and saved in the GAMeRdb database
    </li>
    <li>
        "Genomes Workspaces" tutorial: a quick interactive guide showing how to fully exploit functionalities included in the genomes workspaces pages. This one can be accessed on every footer of the website.
    </li>
    <p>Dont forget you are the first beta testers! Please contact us if you found a bug or if you have any suggestion.</p>
</div>
<!-- news n°X end -->