<!-- Latest news start -->
<div class="active title"> <!-- active news title because its the most recent one -->
    <i class="dropdown icon"></i>
    <b>July 18th, 2018: reference genome workspaces and genome workspace improvements</b><!-- news title -->
</div>
<div class="active content"><!-- news content -->
    <p>Reference genome workspaces aims to:</p>
    <ul class="list">
        <li>Show a global view of the reference genomes used by ARTwork for each species</li>
        <li>Easily download the reference genome files</li>
    </ul>
    <p>Genome workspace improvements:</p>
    <ul class="list">
        <li>Download button ergonomy improved</li>
        <li>New dynamic tutorial</li>
        <li>Mispellings corrected</li>
    </ul>
</div>
<!-- Latest news end -->