<!-- Latest news start -->
<div class="active title"> <!-- active news title because its the most recent one -->
    <i class="dropdown icon"></i>
    <b>July 18th, 2018: reference genome workspaces and genome workspace improvements</b><!-- news title -->
</div>
<div class="active content"><!-- news content -->
    <p>Reference genome workspaces permits to:</p>
    <ul class="list">
        <li>Have a global view of reference genomes used by ARTwork for each species</li>
        <li>Easyly ownload files about these genomes for each species</li>
        <li>Mispellings corrected</li>
        <li>Workspace tutorials improved</li>
        <li>New homepage : newsfeeds and statistics about GAMeRdb added (strains distribution, and CC/ST/Serovar distribution)</li>
    </ul>
    <p>Genome workspace improvements:</p>
    <ul class="list">
        <li>More ergonomic download button</li>
        <li>New dynamic tutorial</li>
        <li>Mispellings corrected</li>
    </ul>
</div>
<!-- Latest news end -->