<!-- Latest news start -->
<div class="active title"> <!-- active news title because its the most recent one -->
    <i class="dropdown icon"></i>
    <b>August 1st, 2018: Fast phylogenetic tool! FasTosh web version is now available.</b><!-- news title -->
</div>
<div class="active content"><!-- news content -->
    <p>FasTosh (<i>i.e</i> "FAST taxOnomy with maSH") is a phylogenetic tools developed by Pauline Barbet. FasTosh aims to fastly build a rooted tree based on k-mers using the neighbour joining clustering method.</p>
    <ul class="list">
        <li>To use Fastosh, type directly strains IDs in the form or send them in a txt file (one id per line).</li>
        <li>As a result, you obtain a tree visualization. Then it's possible to download matrix and tree files. You can also launch a new analysis. </li>
    </ul>
</div>
<!-- Latest news end -->