<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GAMeRdb - Genomes </title>
        <meta name="description" content="GAMeR genomic database - Salmonella genomes">
        <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico" />
        <link rel="stylesheet" href="../../../semantic/dist/semantic.min.css">
        <script src="../../../semantic/dist/semantic.min.js"></script>

    </head>
    <style>
        body {
            margin-top: 1em;
        }
    </style>
    <!-- VERY tmp page: HTML5 not fully respected -->
    <body>
    <div class="masthead error segment">
        <div class="container">
            <h1 class="ui dividing header">
                Whaaat? That happens not to be a page (404)
            </h1>
            <img class="ui huge centered image" src="../../../../../img/what.jpg"/>
            <center><p>Rewind and try another one. Or go to <a href="/">homepage</a></p></center>
        </div>
    </div>
    </body>
</html>
