<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error 500</title>
        <meta name="description" content="GAMeR genomic database - Salmonella genomes">
        <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico" />
        <link rel="stylesheet" href="../../../semantic/dist/semantic.min.css">
        <script src="../../../semantic/dist/semantic.min.js"></script>

    </head>
    <style>
        body {
            margin-top: 1em;
        }
    </style>
    <!-- VERY tmp page: HTML5 not fully respected -->
    <body>
    <div class="masthead error segment">
        <div class="container">
            <h1 class="ui dividing header">
                Internal server error (500)
            </h1>
            <p>We're sorry! Please inform the webmaster of this problem.</p>
        </div>
    </div>
    </body>
</html>
