        <footer class= "sticky"> 
            <div class="ui inverted grey vertical footer segment">
                <div class="ui center aligned container">
                  <div class="ui stackable inverted divided grid">
                    <div class="three wide column">
                    <h3 class="ui inverted small orange header">Information</h3>
                      <div class="ui inverted link list">
                        <a href="#" class="item">News</a>
                        <a href="#" class="item">Groupe génomique</a>
                        <a href="#" class="item">F.A.Q</a>
                        <a href="#" class="item">About us</a>
                      </div>
                    </div>
                    <div class="three wide column">
                      <h3 class="ui inverted small green header">Getting started</h3>
                      <div class="ui inverted link list">
                        <a href="#" class="item">iVARCall2 tutorial</a>
                        <a href="#" class="item">RAxML tutorial</a>
                        <a href="#" class="item">Redmine forum</a>
                      </div>
                    </div>
                    <div class="three wide column">
                      <h3 class="ui inverted small blue header">Useful links</h3>
                      <div class="ui inverted link list">
                        <a href="#" class="item">Anses intranet</a>
                        <a href="#" class="item">Anses internet</a>
                        <a href="#" class="item">VigilAnses</a>
                        <a href="#" class="item">Webmail</a>
                      </div>
                    </div>
                    <div class="seven wide column">
                        <h3 class="ui inverted small violet header">Contact us</h4>
                        <div class="ui mini form">
                            <div class="two fields">
                                <div class="field">
                                    <input placeholder="Name" type="text"/>
                                </div>
                                <div class="field">
                                    <input placeholder="Mail" type="text"/>
                                </div>
                            </div>
                        </div>
                         <div class="ui mini center form">
                            <div class="field">
                                <textarea placeholder="Message" rows=4></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <img src="images/ansesgamer.png" class="ui centered small image">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item">2016-2018 GAMeRdb v.beta - Sauf mention contraire, tous les contenus sont publiés sous licence xxxxxx (CC-by-SA 2.0 et supérieure?)</a>
                </div>
            </div>
        </div>
        </footer>