            <header>
                <div class="ui top fixed massive menu">
                    <a class="disabled item" href="Accueil.html" title="Retour à l'accueil">
                        <img src="images/anseslogomini.png">
                    </a>
                    <a class="item" href="#" title="Espace de travail Bacillus"><i>Bacillus</i></a>
                    <a class="item" href="#" title="Esace de travail Clostridium"><i>Clostridium</i></a>
                    <a class="item" href="#" title="Esace de travail Listeria"><i>Listeria</i></a>
                    <a class="item" href="#" title="Esace de travail  Salmonella"><i>Salmonella</i></a>
                    <a class="item" href="#" title="Esace de travail Staphylococcus"><i>Staphylococcus</i></a>
                    <div class="ui right simple dropdown item">
                    Tools<i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="#">Blast</a>
                            <a class="disabled item" title="Très prochainement">QuickPhylo</a>
                            <a class="disabled item" title="Très prochainement">NAuRA</a>
                        </div>
                    </div>
                </div>
                <!-- pour que le code plus bas ne soit pas affiché derrière le menu (i.e en arriere plan) -->
                <br/><br/><br/><br/>
            </header>