            <header>
                <div class="ui massive borderless fixed fluid menu">
                    <a class="disabled item" href="../homepage/index.html" title="Return to homepage">
                        <img src="../../img/anseslogomini.png"/>
                    </a>
                    <a class="item" href="#" title="Bacillus workspace"><i>Bacillus</i></a>
                    <a class="item" href="#" title="Clostridium workspace"><i>Clostridium</i></a>
                    <a class="item" href="#" title="Listeria workspace"><i>Listeria</i></a>
                    <a class="item" href="#" title="Salmonella workspace"><i>Salmonella</i></a>
                    <a class="item" href="#" title="Staphylococcus workspace"><i>Staphylococcus</i></a>
                    <div class="ui right simple dropdown item">
                    Tools<i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="#">Blast</a>
                            <a class="disabled item" title="Very soon">QuickPhylo</a>
                        </div>
                    </div>
                </div>
            </header>