<div class="ui massive borderless fixed fluid menu">
                    <a class="disabled item" href="/" title="Back to homepage">
                        <img src="../../img/anseslogomini.png" id="logogrow" href="/">
                    </a>
                    <a class="item" href="../../species/bacillus/genomes.html" title="Bacillus workspace"><i>Bacillus</i></a>
                    <a class="item" href="../../species/clostridium/genomes.html" title="Clostridium workspace"><i>Clostridium</i></a>
                    <a class="item" href="../../species/listeria/genomes.html" title="Listeria workspace"><i>Listeria</i></a>
                    <a class="item" href="../../species/salmonella/genomes.html" title="Salmonella workspace"><i>Salmonella</i></a>
                    <a class="active item" href="../../species/staphylococcus/genomes.html" title="Staphylococcus workspace"><i>Staphylococcus</i></a>
                    <div class="ui right simple dropdown item">
                    Tools<i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="#">Blast</a>
                            <a class="disabled item" title="Very soon">QuickPhylo</a>
                        </div>
                    </div>
                </div>